<h1>Registration Form</h1>
<%= form_for( @hiring_manager , remote: true) do |f| %>
<%end%>
<%= form_for( @hiring_manager , remote: true) do |f| %>
  <div class="form-group row">
  <%=f.label :name, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
    <%=f.text_field :name,:required=>true,:class=>"form-control"%>
    </div>
  </div>
  <div class="form-group row">
  <%=f.label :company, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :company,:required=>true,:class=>"form-control"%>
    </div>
  </div>
  <div class="form-group row">
  <%=f.label :phone, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :phone,:required=>true,:class=>"form-control"%>
    </div>
  </div>
  <div class="form-group row">
  <%=f.label :address, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :address,:required=>true,:class=>"form-control"%>
    </div>
  </div>
  <div class="form-group row">
  <%=f.label :fax, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :fax,:class=>"form-control"%>
    </div>
  </div>
  <%=f.hidden_field :email%>
  <%=f.hidden_field :password%>
  <%=f.submit%>
<% end %>
