<%= form_for( @job_seeker , remote: true) do |f| %>
<%end%>
<%= form_for( @job_seeker , remote: true) do |f| %>
<div class="form-group row">
  <%=f.label :name, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :name,:required => true, :class=>"form-control"%>
    </div>
</div>
<div class="form-group row">
  <%=f.label :address, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :address,:required => true, :class=>"form-control"%>
    </div>
</div>
<div class="form-group row">
  <%=f.label :phone, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :phone,:required => true, :class=>"form-control"%>
    </div>
</div>
<div class="form-group row">
  <%=f.label :title_tagline, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :title_tagline,:required => true, :class=>"form-control"%>
    </div>
</div>
<div class="form-group row">
  <%=f.label :profile_picture, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :profile_picture, :class=>"form-control"%>
    </div>
</div>
<div class="form-group row">
  <%=f.label :resume_link, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :resume_link, :class=>"form-control"%>
    </div>
</div>
<div class="form-group row">
  <%=f.label :website_link, :class=>"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%=f.text_field :website_link, :class=>"form-control"%>
    </div>
</div>
  <%=f.hidden_field :email%>
  <%=f.hidden_field :password%>

<%=f.submit%>
<% end %>