<h2>Profile<h2>
<img src="<%=@job_seeker.profile_picture%>">
<br/>
<h3>Name: <%=@job_seeker.name%></h3>
<h3>Email: <%=@job_seeker.email%></h3>
<h3>Phone: <%=@job_seeker.phone%></h3>
<h3>Tagline: <%=@job_seeker.title_tagline%></h3>
<p>Address: <%=@job_seeker.address%></p>
<h3>Resume: <%=@job_seeker.resume_link%></h3>
<h3>Website: <%=@job_seeker.website_link%></h3>



<%if @user_type == "JS"%>

<%= link_to  "Explore Jobs", job_listings_path%><br/>
<%= link_to  "Edit Profile", edit_job_seeker_path(@job_seeker) %>
<%= form_tag( 'path' , remote: true) do %>
<% end %>
<%= button_to  "Delete Profile", @job_seeker, method: :delete %>


<h2>Jobs Applied</h2>
<ul>
  <%@job_seeker.job_listings.each do |job|%>
    <li>
      <%= link_to  job.title, job %>
    </li>
  <%end%>
</ul>

<%end%>